/*
 * Overrides CSS
 */

/*fonts*/
@font-face {
    font-family: 'playfair_displayregular';
    src: url('/templates/089-standard/fonts/playfairdisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'playfair_displayitalic';
    src: url('/templates/089-standard/fonts/playfairdisplay-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'playfair_displaybold';
    src: url('/templates/089-standard/fonts/playfairdisplay-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold';
    src: url('/templates/089-standard/fonts/raleway-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('/templates/089-standard/fonts/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/*Resp overrides*/
@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1180px;
      margin: 0px auto;
  }
}

/*css variablen*/
:root {
    --first-color: #6dc32f;
    --second-color: #b0b0b0;
    --red-color: #de2f2f;
}
body.desktop .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* critical CSS */
body {
    font-family: 'playfair_displayregular';
    animation:fadein .3s ease-in-out forwards;
      -webkit-animation:fadein .3s ease-in-out forwards; 
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }


.clr {
    clear: both;
}
h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 5px;
}
h1, h2 {
    
}
/*lzyLoad*/
.lazy-hidden {
    opacity: 0;
}
.lazy-loaded {
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
/*header*/
    @-webkit-keyframes topSlide {
        0% {opacity: 0; -webkit-transform: translateY(-50px); transform: translateY(-50px);}
        100% {opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    }
  @keyframes topSlide {
        0% {opacity: 0; -webkit-transform: translateY(-50px); transform: translateY(-50px);}
        100% {opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    }
body.desktop .headMenu {
    position: relative;
    -webkit-transform: translateZ(0);
}
body.desktop .headMenu.sticky {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    opacity: 0;
    z-index: 2;
    will-change:top;
    -webkit-animation: topSlide .5s ease-in-out forwards;
            animation: topSlide .5s ease-in-out forwards;
}
body.desktop .headMenu.sticky .brandWrapper {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
header#header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/*nav.navbar-wrapper {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
}*/
a.brand {
    font-size: calc(12px + (26 - 12) * ((100vw - 320px) / (1920 - 320)));
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1e1e1e;
    text-align: right;
}
a.brand:hover {
    text-decoration: none;
}
header#header {
/*    padding: 20px 50px;*/
    background-color: #fafafa;
    margin-bottom: 30px;
}
body.desktop header#header {
    z-index: 1;
}
.site-description h3 {
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
    color: var(--first-color);
    line-height: 30px;
    letter-spacing: 0.2px;
}
body.desktop .site-description h3 {
    text-align: right;
}
body.desktop .brandWrapper {
  -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    padding: 20px 0px 20px 50px;
    text-align: right;
    max-width: 370px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .3s ease-in-out .2s;
    transition: -webkit-transform .3s ease-in-out .2s;
    -o-transition: transform .3s ease-in-out .2s;
    transition: transform .3s ease-in-out .2s;
    transition: transform .3s ease-in-out .2s, -webkit-transform .3s ease-in-out .2s;
}
/*<--- END header*/

/*content*/
.disClaimContainer {
    margin: 30px 0px;
    font-style: italic;
}
.item-page.links div.span9 {
    margin-top: 30px;
}
body.desktop .item-page em {
    font-style: italic;
    font-size: 14px;
}
.category-desc,
.items-row .span12 .item {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 30px;
}
.items-row .span12 .item {
    padding-bottom: 30px;
}
.items-row:last-child .span12 .item {
    border: none;
}
.blog.seminare .category-desc.clearfix img {
    float: right;
    max-width: 29%;
    margin: 0px 0px 30px 0px;
    clear: both;
}
body.desktop .blog.seminare .category-desc.clearfix img {
    margin: 6px 0px 60px 20px;
}
body.desktop .blog.seminare .item-image {
    width: 500px;
}
.blog.seminare .item-image {
    margin-right: 5%;
}
.produktUebersicht p.produktBeschreibung {
    
    font-size: 16px;
}
.produktUebersicht p.produktPreis {
    font-size: 18px;
    font-weight: bold;
}
.produktUebersicht a.btn.alt {
    margin-top: 30px;
}
.produktUebersicht a {
    color: #333;
}
.produktUebersicht a:hover {
    text-decoration: none;
}
.produktUebersicht>div {
    text-align: center;
}
.produktUebersicht>div img {
    width: 300px;
    margin: 0 auto;
}
.produktUebersicht {
    margin-bottom: 50px;
}
body.site .blog .item .pull-left.item-image {
    min-height: 250px;
}
body.site.desktop .blog .item .pull-left.item-image:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
body.site.desktop .blog .items-row.row-0 .span4:nth-of-type(3) .pull-left.item-image img {
    z-index: -1;
    position: relative;
}
body.site.desktop .blog .items-row.row-0 .span4:nth-of-type(3) .pull-left.item-image a:after {
    z-index: -1;
}
body.site.desktop .blog .item .pull-left.item-image img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
        -webkit-transition: -webkit-transform .3s linear;
        transition: -webkit-transform .3s linear;
        -o-transition: transform .3s linear;
        transition: transform .3s linear;
        transition: transform .3s linear, -webkit-transform .3s linear;
}
body.site .blog .item .pull-left.item-image a:hover:after {
    background-color: rgba(66, 66, 66, 0.5);
}
body.site .blog .item .pull-left.item-image a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(66, 66, 66, 0);
    z-index: 1;
        transition: background-color .3s ease-in-out;
}
body.site .blog .item .pull-left.item-image {
    position: relative;
    overflow: hidden;
}
/*body.site .blog.therapien .items-row.row-1 .span4:nth-of-type(3) .page-header h2 a,
body.site .blog.therapien .items-row.row-1 .span4:nth-of-type(1) .page-header h2 a,
body.site .blog.therapien .items-row.row-2 .span4:nth-of-type(1) .page-header h2 a,*/
body.site .blog.therapien .items-row.row-2 .span4:nth-of-type(2) .page-header h2 a {
    line-height: 33px;
}
body.site .blog .item .page-header h2 a {
    display: block;
    line-height: 65px;
}
body.site .blog .item .page-header {
    margin: 0px;
}
body.site .blog .item .page-header h2 {
    background-color: var(--first-color);
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) /(1920 - 320)));
    text-align: center;
    line-height: 25px;
    margin: 0px;
    height: 70px;
}
body.site .blog .item .page-header h2 a {
    color: #fff;
}
body.site .blog .item .page-header h2 a:hover {
    text-decoration: none;
}
body.desktop .items-row {
    margin-bottom: 80px;
}
body.desktop .blog.seminare .items-row {
    margin-bottom: 0px;
}
body#body .icon-chevron-right {
    background-image: none;
    width: 0px;
}
div.blog.therapien .category-desc {
    margin-bottom: 50px;
}
div#therapieDetail .page-header h1 {
    position: relative;
}
div#therapieDetail .page-header h1:after {
    content: '';
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #e2e2e2;
}
body.desktop div#therapieDetail p {
    margin-bottom: 20px;
}
body.desktop div#therapieDetail {
    width: 600px;
    margin: 0 auto;
}
div#therapieDetail .item-page {
    margin-bottom: 30px;
    padding-top: 0px;
}
.videoWrapper {
    text-align: center;
}
body.desktop .item-page.ueberMich {
    max-width: 1000px;
    margin: 0 auto;
}
body#body.desktop #layoutStart .item-page.ueberMich {
    background: url('/images/content/vera-schulze-brockamp.jpg') top right no-repeat;
    background-size: 80%;
    height: inherit;
 -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
body.desktop .item-page.ueberMich .item-image,
body.tablet .item-page.ueberMich .item-image,
body.desktop .item-page.ueberMich .item-image-full,
body.phone .item-page.ueberMich .item-image-full {
    display: none;
}
body.site .item-page.ueberMich div.span12 {
    margin: 0;
}
body.desktop .item-page.ueberMich p.noWrap {
    white-space: nowrap;
}
/*body.desktop #layoutStart .item-page.ueberMich .contentFlexItem,
body.tablet #layoutStart .item-page.ueberMich .contentFlexItem {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    margin: 50px 50px 50px 80px;
}*/
body.site ol.breadcrumb a.pathway {
    color: var(--first-color);
}
body.is_home #layoutStart .contentFlexItem {
  opacity: 0;
    -webkit-animation: fdInScale .8s ease-in-out .5s forwards;
            animation: fdInScale .8s ease-in-out .5s forwards;
}
  @-webkit-keyframes fdInScale {
      from {opacity: 0; -webkit-transform: scale(.8,.8); transform: scale(.8,.8);}
      to {opacity: 1; -webkit-transform: scale(1,1); transform: scale(1,1);}
  }
  @keyframes fdInScale {
      from {opacity: 0; -webkit-transform: scale(.8,.8); transform: scale(.8,.8);}
      to {opacity: 1; -webkit-transform: scale(1,1); transform: scale(1,1);}
  }

body.site ul {
    margin-bottom: 30px;
}
/*body.desktop ul.nav {
    font-size: 14px;
}*/
body.desktop .blog ul li,
body.tablet .blog ul li,
body.desktop .item-page ul li,
body.tablet .item-page ul li,
body.desktop .item-page p,
body.desktop .bottom p,
body.desktop .blog p,
body#body.tablet p,
body.desktop .adressContainer p,
body.desktop .disClaimContainer p {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.3px;
}
body.desktop #therapieDetail .item-page p,
body.desktop .blog p {
    letter-spacing: .6px;
}
body.mobile.phone .item-page p
body.mobile.phone .blog p {
    font-size: 14px;
}
body.site.is_home .item-page p {
    color: var(--second-color);
}
body.desktop.itemid-111 #layoutStart,
body.desktop.itemid-112 #layoutStart {
    height: 85vh;
}
body.site .page-header {
    border: none;
}
body.desktop .item-page {
    padding: 20px;
}
body.desktop .item-page,
body.tablet .item-page {
    padding: 20px 0px;
}
body.tablet #layoutStart .item-page:not(.ueberMich) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body.tablet.not_home .layoutProdukte .imageFlexItem {
    margin-top: 11vh;
    margin-right: 30px;
}
body.desktop #layoutStart .contentFlexItem,
body.tablet #layoutStart .contentFlexItem {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
body.desktop #layoutStart .imageFlexItem,
body.tablet #layoutStart .imageFlexItem {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
body.is_home .item-page .page-header h1 {
    color: var(--second-color);
    font-size: calc(24px + (41 - 24) *((100vw - 320px)/ (1920 - 320)));
    text-transform: uppercase;
}
.item-page .page-header h1,
.blog .page-header h1 {
    color: var(--first-color);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: calc(16px + (21 - 16) *((100vw - 320px)/ (1920 - 320)));
}
#therapieDetail .item-page .page-header h1 {
    font-size: calc(18px + (24 - 18) *((100vw - 320px)/ (1920 - 320)));
    padding-bottom: 20px;
}
body.is_home .item-page h2 {
    color: var(--red-color);    
    font-size: calc(16px + (24 - 16 ) *((100vw - 320px) /(1920 - 320)));
    text-transform: initial;
    line-height: 30px;
    margin-bottom: 15px;
}
.item-page h2,
.adressContainer h2 {
    color: var(--first-color);
    font-size: calc(14px + (21 - 14 ) *((100vw - 320px) /(1920 - 320)));
    letter-spacing: .8px;
}
div.blog h2 {
    font-size: calc(16px + (24 - 16 ) *((100vw - 320px) /(1920 - 320)));
    color: var(--first-color);
    line-height: 30px;
}
div.blog h3 {
   font-size: calc(16px + (21 - 16 ) *((100vw - 320px) /(1920 - 320))); 
}

/*<--END content*/

/*Kontakt / Bestellung*/
.prodItem h3 {
    font-size: 21px;
    border-bottom: 1px solid #6dc32f;
}
.itemDetail img {
    max-width: 150px;
}
.itemDetail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 70px;
}  
#produkteOrder {
    margin-bottom: 50px;
}
.itemDetail div {
    margin-right: 20px;
}
main#content #emailCopy label {
  width: 50%;
  text-align: left;
}
body.desktop main#content #emailCopy label {
  white-space: nowrap;
}
body.desktop main#content #emailCopy input,
body.tablet main#content #emailCopy input {
  width: 5%;
}
body.phone main#content #emailCopy input {
  width: 10%;
}
textarea#message.orderInfo::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgb(109, 195, 47);
}
textarea#message.orderInfo:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgb(109, 195, 47);
   opacity:  1;
}
textarea#message.orderInfo::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgb(109, 195, 47);
   opacity:  1;
}
textarea#message.orderInfo:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(109, 195, 47);
}
textarea#message.orderInfo::-ms-input-placeholder { /* Microsoft Edge */
   color: rgb(109, 195, 47);
}

/* <---END Kontakt / Bestellung ---*/
/* <--- ENDcontent* ----/

/*bottom-1*/
.linkContainer:nth-of-type(2) h2 {
    margin-bottom: 30px;
    color: #555;
}
.linkContainer:nth-of-type(2) p a {
    text-decoration: underline;
    color: #6dc32f;
}
body.tablet .linkContainer:nth-of-type(2) p a {
    font-size: 14px;
}
body.desktop .linkContainer:nth-of-type(2) p {
}
.linkContainer:nth-of-type(2) p {
    margin-bottom: 25px;
}
.linkContainer {
    margin-bottom: 30px;
    display: block;
    min-height: 130px;
}
body.mobile .adressContainer {
    margin: 30px 20px;
}
body.mobile .route {
    margin: 70px 20px 0;
}
body.desktop .videoBottomLink {
    width: 1000px;
    margin: 80px auto;
}
body.mobile .videoBottomLink {
    width: initial;
    margin: 60px 20px;
}
.innerwidth.route a,
.videoBottomLink a {
    text-decoration: underline;
    color: #6dc32f;
    font-size: 16px;
}
.innerwidth.route {
    margin-top: 50px;
}
body#body div#module_104.googleMaps iframe {
    width: 100%;
    margin-top: 50px;
}
body#body.desktop div#module_104.googleMaps iframe {
    margin-top: 15px;
}
body.desktop .produktUebersicht.row-1 {
    margin-bottom: 100px;
}
.produktUebersicht.row-1,
.produktUebersicht.row-2,
.blog.therapien,
.navStartWrapper,
.position_bottom2,
.googleMaps {
    opacity: 0;
      transition: opacity .8s ease .2s;
        -webkit-transition: opacity .8s ease .2s;
        -o-transition: opacity .8s ease .2s;
}
.produktUebersicht.row-1.loaded,
.produktUebersicht.row-2.loaded,
.blog.loaded,
.navStartWrapper.loaded,
.position_bottom2.loaded,
.googleMaps {
    opacity: 1;
}
h2.navStartHeader {
    padding: 0px 20px 30px;
    font-size: 25px;
    letter-spacing: .9px;
}
body.desktop .navStart {
      -ms-flex-pack: distribute;
        justify-content: space-around;
}
body.desktop .flexItemChild {
    margin: 0px 20px;
}
body.desktop .position_bottom1,
body.desktop .position_bottom2 {
    padding: 0px 50px;
}
body.desktop img.flexItemIMG {
    width: 100%;
    transform: scale(1);
    filter: blur(0px);
      -webkit-filter: blur(0px);
      transition: all 1s linear;
}
.flexItemChild h3 {
    color: var(--first-color);  
    font-size: calc(14px + (18 - 14) * ((100vw -320px) / (1920 - 320)));
    line-height: 40px;
}
.flexItemChild p {
    margin-bottom: 30px;
}
.flexItemChild {
    overflow: hidden;
}
body.desktop .flexItemChild>div {
    position: relative;
    background-color: #fff;
}
body.desktop .flexItemChild>a:hover img {
    transform: scale(1.35);
    filter: blur(5px);
      -webkit-filter: blur(5px);
      transition: all 15s linear;
}
body#body .produktBtn:hover {
    border-color: #fff;
}
body#body .produktBtn {
    margin-top: 20px;
    border: 1px solid #6dc32f
}
a.btn.alt {
    border: none;
    background-color: #eee;
    background-image: none;
    text-shadow: none;
    padding: 10px;
    position: relative;
    border-radius: 0px;
    box-shadow: 3px 4px 20px -4px #e8e8e8;
    margin: 0px 0px 10px 0px;
    transition: color .4s ease, background-color .5s ease-in-out;
}
a.btn {
    font-family: 'ralewayregular';
}
body.desktop a.btn.alt:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--first-color);
    z-index: 1;
    transform: rotateY(90deg);
      -webkit-transform: rotateY(90deg);
      transition: all .3s linear;
}
body.desktop a.btn.alt:hover:after {
    transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
}
body.desktop a.btn.alt:hover {
    background: #989898;
    color: #fff;
}
.position_bottom1,
.position_bottom2 {
    margin-bottom: 60px;
}
    div#lazy-container {
        overflow: auto;
    }

    img.lazy {
        display: block;
        color: #fff;
    }
    .lazy {
        background-image: url('/images/load.gif');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        /*width: 100%;*/
    }
@media(min-width: 1280px) {
    .lazy {
        min-height: 250px;
    }
}
.module_bottom.position_bottom2 {
    background-color: #fafafa;
}
.vcard {
    padding: 20px;
    width: 260px;
    margin: 0 auto;
}
.vcard .adr {
    display: none;
}
body.site p.fn {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 40px;
}
.vcard a.email,
.vcard p.tel a {
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}

/*<--- END bottom-1*/
/*footer*/
.bottomFlex {
    display: flex;
    justify-content: space-evenly;
}
.bottomLinks {
    margin-bottom: 60px;
}
.bottomLinks div {
    text-align: center;
    position: relative;
}
.bottomLinks a.bottomLink {
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    z-index: 1;
    -webkit-transition: all .2s ease-in-out .3s;
    -o-transition: all .2s ease-in-out .3s;
    transition: all .2s ease-in-out .3s;
}
.bottomLinks div:after {
    content: ' ';
    position: absolute;
    bottom: -30px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #6dc32f;
      -webkit-transform: translateY(0px;);
          -ms-transform: translateY(0px;);
              transform: translateY(0px;);
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
}
body.desktop .bottomLinks div:hover:after {
    -webkit-transform: translateY(-39px) scale(2,20);
        -ms-transform: translateY(-39px) scale(2,20);
            transform: translateY(-39px) scale(2,20);
    /*height: 10px;*/
}
body.desktop .bottomLinks div:hover a.bottomLink {
    color:#fff;
}

/*<-- END footer*/
 /*Menue*/
body.desktop a.mobSubMenuOpen {
    display: none !important;
    height: 0;
    width: 0;
}
.navbar .nav > li {
  display: inline-block;
}
.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px 0;
    background-color: transparent;
    background-image: none;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}
.navbar {
    font-family: 'ralewayregular';
    margin: 0 0 5px;
    padding: 0;
    position: relative;
    z-index: 999;
}
body.site .dropdown-menu {
    padding: 0px;
}
body#body .navbar .nav>.active>a,
body#body .navbar .nav>.active>a:hover,
body#body .navbar .nav>.active>a:focus {
    background-color: transparent;
    box-shadow: none;
    background-image: none;
    color: var(--first-color);
}
body.site.desktop .navbar .nav li.dropdown.open>.dropdown-toggle,
body.site.desktop .navbar .nav li.dropdown.active>.dropdown-toggle,
body.site.desktop .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    color: var(--first-color);
    background-color: transparent;
    text-shadow: none;
}
body#body .dropdown-menu {
    border: none;
    box-shadow: 0px 12px 50px -24px #000;
}
  /*hover / current active states*/
body#body .dropdown-menu>li>a:hover,
body#body .dropdown-menu>li>a:focus,
body#body .dropdown-submenu:hover>a,
body#body .dropdown-submenu:focus>a {
    color: #777;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: none;
}
body#body .nav .nav-child>li>a:hover {
    color: var(--first-color);
}
body#body .dropdown-menu>.active>a,
body#body .dropdown-menu>.active>a:hover,
body#body .dropdown-menu>.active>a:focus {
    color: var(--first-color);
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: none;
}
body.desktop ul.nav-child.dropdown-menu a {
    padding: 15px 10px;
}
body#body .navbar .nav>li>.dropdown-menu:after { /*submenue triangle in hoverfarbe*/
    border-bottom: 6px solid #000;
}
body.desktop .navbar .nav>li>.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}
body.mobile .navbar .nav>li>.dropdown-menu:after,
body.mobile .navbar .nav>li>.dropdown-menu:before {
    display: none;
}
    /*<--END hover / current active states*/
body.desktop .navbar .nav>li>a,
body.desktop .navbar .nav .nav-child>li>a {
    position: relative;
}
body.desktop .navbar .nav>li>a:after,
body.desktop .navbar .nav .nav-child>li>a:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #dadada;
    z-index: 1;
    transform: rotateY(90deg);
      -webkit-transform: rotateY(90deg);
      transition: all .3s linear;
}
body.desktop .navbar .nav>li>a:hover:after,
body.desktop .navbar .nav .nav-child>li>a:hover:after {
    transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      transition: all .3s linear;
}

 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}



/*bootstrap Carousel*/

.item {
   max-width: 100%;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 2.0s ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*!<-- end BS carousel

/* non-critical CSS */
/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 80px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 3px #333333;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}


/*cookie control*/
body#body #cookiesck .cookiesck_inner a {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
  body#body #cookiesck_accept {
      background: #7bc300;
      float: none;
      width: 100px;
      margin: 20px auto 0px !important;
      border: 1px solid #fff;
  }
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    float: none;
    padding: 10px 10px 10px 0px;
}
a.cookieImp,
body#body #cookiesck_readmore {
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    color: #fff;
}
a.cookieImp:hover,
body#body #cookiesck_readmore:hover {
    color: #7bc300;
    text-shadow:none;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
}
body#body #cookiesck .cookiesck_inner {
    display: initial;
    line-height: 20px;
    text-shadow: 0px 3px 5px #525252;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #fff;
    color: #7bc300;
}
@media(max-width: 1280px) {
  body#body.mobile div#cookiesck span {
      font-size: 14px;
  }
  body#body.phone #cookiesck_readmore {
      padding: 10px 10px 10px 0;
  }
  body#body.phone #cookiesck_accept {
      float: none;
      margin: 10px auto !important;
  }
  body#body.phone #cookiesck {
      text-align: left;
      line-height: 25px;
  }
  body#body.phone #cookiesck_accept {
      width: 90px;
  }
}
@media(max-width: 1279px) and (orientation: portrait) {
/*  body.mobile #cookiesck {
      bottom: 20vh;
  }*/
}