/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {
	body#body.phone a.brand,
	body#body.phone .site-description h3 {
	    font-size: 14px;
	}
}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {
	
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}


@media(max-width: 767px) {
	/*critical*/
	body#body.phone .ap_ajax_qc {
	    width: 90% !important;
	}
	body.phone.itemid-157,
	body.phone.itemid-185 {
    	width: 100vw;
	}
	body.mobile .item-page.produkte h1 {
	    line-height: 30px;
	}
	body.phone.Safari .linkContainer:nth-of-type(2) h2 {
	    font-size: 16px;
	}
	body.mobile #therapieDetail .item-page .page-header h1 {
	    line-height: 25px;
	}
	body#body.phone.Safari div#therapieDetail img {
	    width: 370px;
	}
	body.phone div#therapieDetail img {
	    margin: 0 auto;
	    width: 100%;
	    display: block;
	}	
	body.phone.Safari.mac a.brand,
	body.phone.Safari.mac .site-description h3 {
	    white-space: nowrap;
	    font-size: 16px;
	}	
	body.phone .itemDetail img {
	    max-width: 100px;
	}
	body.phone .produktUebersicht div {
	    margin-bottom: 60px;
	}
	body.mobile.is_home .item-page h2 {
	    line-height: 25px;
	}
	body.phone .flexItem.start {
	    margin-bottom: 50px;
	}
	body.phone #layoutStart {
		height: initial;
	}

}
@media(min-width: 768px) {
	/*critical*/	
	.detailImg img {
	    width: 100%;
	}		
}
@media(max-width: 767px) and (orientation: portrait) {
/*critical*/
	body.phone .linkContainer:nth-of-type(2) p a {
	    font-size: calc(12px + (14 - 12 ) * ((100vw - 320px) / (414 - 320)));
	}
	body.phone .imageFlexItem img {
	    margin-bottom: 50px;
	}
	body.mobile .item-page.ueberMich .pull-right.item-image img {
		width: 280px;
		margin: 0 auto;
	}
	body.mobile .item-page.ueberMich .pull-right.item-image,
	body.mobile .item-page.ueberMich .pull-right.item-image-full {
		float: none;
		margin-bottom: 30px;
		text-align: center;
	}
	body.mobile .blog.seminare .category-desc.clearfix img {
	    float: none;
	    max-width: 100%;
	}
	body.mobile.tablet .item {
		width: 50vw;
		margin: 0 auto 30px;
	}
}
@media screen and (min-width: 667px) and (max-width: 767px) and (orientation: landscape) {
/*critical*/
/*	body#body.is_home img {
		max-width: 80%;
	}
	body.phone.is_home .pull-none.item-image:first-child {
	    max-width: 70%;
	}*/
}
@media(max-width: 767px) and (orientation: landscape) {
/*critical*/
body.phone #layoutStart .contentFlexItem {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
}
body.phone #layoutStart .imageFlexItem {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
}
body.phone #layoutStart .item-page:not(.ueberMich) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body.phone .item-page.produkte {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}
body.phone .item-page.produkte .imageFlexItem {
    margin-top: 20vh;
    margin-left: 20px;
}
body.phone .item-page.produkte .contentFlexItem {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
}
body.phone .item-page.produkte .imageFlexItem {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
}
body.phone .flexItem.start {
    margin: 0 auto 50px;
    width: 60vw; 
}
	body.mobile .item {
		width: 50vw;
		margin: 0 auto;
	}
	body.mobile .blog .item .pull-left.item-image {
	    width: 100%;
	}
}
@media(max-width: 1079px) {
    body.desktop .item-page.produkte .pull-right.item-image {
        float: none;
    }    
    body#body.desktop #layoutStart.layoutProdukte {
        height: initial;
    }
}
@media(min-width: 1080px) {
    body.desktop .item-page.produkte,
    body.desktop .blog.seminare {
        width: 1000px;
        margin: 30px auto 0px;
    }    
    body.desktop #layoutStart .item-page:not(.ueberMich) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}
@media(max-width: 1280px) {
	/*critical*/
	body#body div#layoutStart.layoutProdukte {
	    height: initial;
	}	
	body.mobile.itemid-185 label.emailCopyCheck {
	    text-indent: -40px;
	    position: relative;
	    left: 40px;
	}
	body.mobile label.emailCopyCheck {
	    margin: 20px 0 30px;
	}
	body.mobile main#content #emailCopy label {
    	width: 80%;	    
	}
	body#body.mobile label.emailCopyCheck input {
	    padding-left: 0 !important;
	    margin-left: 0 !important;
	    margin-right: 10px !important;
	}	
	body.mobile label.emailCopyCheck {
	    padding: 0;
	}	
	body.mobile label.emailCopyCheck {
	    padding: 0;
	}
	body.mobile.tablet .item-page.links {
	    margin-bottom: 130px;
	}	
	body.mobile .item-page.links {
	    margin-bottom: 50px;
	}
	body#body.Firefox .flexItemChild h3 {
	    font-size: 18px;
	}
	/*RM */
		/*BS Override*/
		body.mobile button.btn.btn-navbar.collapsed span.icon-bar:nth-of-type(2) {
		    opacity: 1;
		}		
		body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(2) {
		    opacity: 0;
		    -webkit-transition: -webkit-transform .5s ease-in-out;
		    transition: -webkit-transform .5s ease-in-out;
		    -o-transition: transform .5s ease-in-out;
		    transition: transform .5s ease-in-out;
		    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
		}
		body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(1) {
			-webkit-transform: translateY(8px) translateX(0) rotate(35deg);
			    -ms-transform: translateY(8px) translateX(0) rotate(35deg);
			        transform: translateY(8px) translateX(0) rotate(35deg);
			-webkit-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
		}
		body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(3) {
			-webkit-transform: translateY(-8px) translateX(0) rotate(-35deg);
			    -ms-transform: translateY(-8px) translateX(0) rotate(-35deg);
			        transform: translateY(-8px) translateX(0) rotate(-35deg);
			-webkit-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
		}
		body.mobile button.btn.btn-navbar.collapsed span.icon-bar:nth-of-type(3),
		body.mobile button.btn.btn-navbar.collapsed span.icon-bar:nth-of-type(1) {
		    -webkit-transform: translateY(0px) translateX(0) rotate(0deg);
		        -ms-transform: translateY(0px) translateX(0) rotate(0deg);
		            transform: translateY(0px) translateX(0) rotate(0deg);
		    
		}		
		body.mobile button.btn.btn-navbar.collapsed,
		body.mobile button.btn.btn-navbar {
		    background-color: transparent;
		    background-image: none;
		    border: none;
		    box-shadow: none;
		}
		body.mobile .navbar .btn-navbar .icon-bar {
		    display: block;
		    width: 35px;
		    height: 2px;
		    background-color: #8e8e8e;
		    box-shadow: none;
		}
		body.mobile .btn-navbar .icon-bar+.icon-bar {
		    margin-top: 6px;
		}
		body.mobile .dropdown-menu {
			position: initial;
		}
		body#body.mobile .nav-collapse {
		    clear: both;
		}
		body#body.mobile .nav-collapse .nav {
		    float: none;
		    margin: 0 0 10px;
		}	
		body#body.mobile .nav-collapse .nav>li {
		    float: none;
		}
		body#body.mobile .navbar .btn-navbar {
		    display: block;
		}
		body.mobile .dropdown-menu>li>a {
		    white-space: normal;
		}
		body.mobile .nav-collapse .dropdown-menu {
			margin: 0px 0px 20px;
			font-size: 12px;
			padding-left: 15px;
			position: relative;
		} /*<-- END BS Override*/
	body.mobile ul.nav-child.dropdown-menu li {
	    padding-bottom: 10px;
	}
	body#body.mobile a.mobSubMenuOpen {
		position: absolute;
	    top: 0px;
	    right: 50%;
	    z-index: 9;
	    font-size: 24px;
	    background-color: transparent;
	}	
	body.mobile b.caret {
	    display: none;
	}
	body#body .nav-collapse {
	    -webkit-transform: initial;
	}	
	button.btn.btn-navbar {
		position: relative;
		z-index: 3;
	}
	body.mobile .nav-collapse,
	body.mobile .nav-collapse.collapse {
	    height: initial;
	    overflow: initial;
	}
	body.mobile .fullwidth.site_wrapper.openMenu:after {
	    background: rgba(68, 68, 68, 0.3);
	    z-index: 0;
	    	transition: background .6s ease-in-out;
	}
	body.mobile .fullwidth.site_wrapper:after {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100vh;
	    background: rgba(255, 255, 255, 0);
	    top: 0;
	    left: 0;
	    z-index: -1;
	    	transition: background .1s ease-in-out;
	}
	body.mobile .navbar .nav {
	    left: initial;
	    float: none;
	}
	body.mobile .in.collapse ul.nav.menu.nav-pills {
	    visibility: visible;
	    opacity: 1;
	    z-index: 1;
	    transition: visibility 0.5s, opacity .4s ease-in-out;
		    -webkit-transition: visibility 0.5s, opacity .4s ease-in-out;
		    -moz-transition: visibility 0.5s, opacity .4s ease-in-out;	    
	}
	body.mobile .collapse ul.nav.menu.nav-pills {
	    position: fixed;
	    z-index: 0;
	    top: 0px;
	    right: 0;
	    width: 260px;
	    height: 100vh;
	    overflow: auto;
	    -webkit-overflow-scrolling: touch;
	    visibility: hidden;
	    background: #fff;
	    box-shadow: 0px 0px 30px -10px;
	    opacity: 0;
	    transition: visibility .1s, opacity .2s ease-in-out;
		    -webkit-transition: visibility 0.5s, opacity .2s ease-in-out;
		    -moz-transition: visibility 0.5s, opacity .2s ease-in-out;
	}	
	body.mobile .collapse {
		position: initial;
	}
	body.mobile .navbar .nav > li {
	    display: block;
	    margin-bottom: 30px;
	    position: relative;
	}
	/*<-- RM END*/	
	body.mobile.tablet form.ap_ajaxqc {
	    padding: 20px;
	}
	body#body.mobile .blog.therapien .lazy,
	body#body.mobile .blog .item .pull-left.item-image {
		min-height: initial;
	}
	body.mobile .item {
	    margin-bottom: 50px;
	}
	body.mobile .blog.therapien {
	    margin-bottom: 60px;
	}
	body.mobile #header {
		padding-left: 20px;
		padding-right: 0px;
	}
	body.mobile .module_bottom,
	body.mobile .content,
	body.mobile footer,
	body.mobile #copyright {
		padding-left: 20px;
		padding-right: 20px;
	}
	body.tablet .content {
		padding-right: 30px;	
	}
	body.mobile {
	    padding-right: 0px;
	    padding-left: 0px;
	}
}
@media(min-width: 600px) and (max-width: 960px){
	/*critical*/

}
@media only screen and (min-width: 600px) and (max-width: 960px) and (orientation: landscape) {
	body.site.tablet .blog.therapien .items-row.row-2 .span4:nth-of-type(1) .page-header h2 a {
	    line-height: 33px;
	}	
}
@media only screen and (min-width: 600px) and (max-width: 1280px) and (orientation: portrait) {
	/*critical*/
	body.tablet .blog.therapien .items-row.row-1 .span4:nth-of-type(3) .page-header h2 a,
	body.tablet .blog.therapien .items-row.row-1 .span4:nth-of-type(1) .page-header h2 a,
	body.tablet .blog.therapien .items-row.row-2 .span4:nth-of-type(1) .page-header h2 a {
	    line-height: 33px;
	}
	body.tablet.is_home #layoutStart {
		height: 55vh;
	}
	body.tablet.not_home #layoutStart {
		height: 75vh;
	}
	body.tablet.not_home.itemid-112 #layoutStart {
		height: initial;
	}	
}
@media only screen and (min-width: 600px) and (max-width: 1280px) and (orientation: landscape) {
	/*critical*/
	body#body.tablet #layoutStart .item-page.ueberMich {
	    background-size: 70%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1280px) and (orientation: portrait) {
	/*critical*/
	body#body.tablet .item-page.ueberMich div.span4 {
	    width: 47%;
	}	
}
@media only screen and (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
	/*critical*/
	body#body.tablet .item-page.ueberMich div.span4 {
	    width: 60%;
	}	
}
@media(min-width: 600px) and (max-width: 1280px) {
	/*critical*/
	body.tablet div#therapieDetail {
	    max-width: 600px;
	    margin: 0 auto;
	}
	body.tablet .flexItemChild {
	    padding: 5%;
	}
	body.tablet .flexItem.start {
		text-align: center;
		margin-bottom: 50px;
	}
	body.tablet .flexItem.start:nth-of-type(2),
	body.tablet .flexItem.start:nth-of-type(4) {
	    float: left;
	    width: 50%;
	}	
	body.tablet .flexItem.start:nth-of-type(1),
	body.tablet .flexItem.start:nth-of-type(3) {
	    float: left;
	    width: 50%;
	    clear: both;
	}

}
@media(min-width: 768px) and (max-width: 1280px) {
	/*critical*/
	body.tablet .item-page.ueberMich div.span4 {
	    width: 50%;
	}	
	body.desktop .innerwidth.content {
	    padding-left: 20px;
	    padding-right: 20px;
	}
}
@media(min-width: 980px) and (max-width: 1280px) {
	/*critical*/
	
}
@media(min-width: 1280px) {
	/*critical*/
	body.desktop .flexItem.start {
	    -ms-flex-preferred-size: 25%;
	        flex-basis: 25%;
	}
	body#body.Firefox .flexItemChild h3 {
	    font-size: 22.5px;
	}
}

/*specials*/
@media(width: 736px) and (orientation: landscape) {
	body#body.phone.itemid-157 main#content.span12,
	body#body.phone.itemid-185 main#content.span12 {
    	width: 696px;
	}
	body#body.phone div#module_104.googleMaps iframe {
	    width: 90%;
	    margin: 50px auto;
	    text-align: center;
	    display: block;
	}
}
@media(width: 414px) and (orientation: portrait) {
	body#body.phone.itemid-157 main#content.span12,
	body#body.phone.itemid-185 main#content.span12{
    	width: 374px;
	}
	body#body.phone div#module_104.googleMaps iframe {
	    width: 90%;
	    margin: 50px auto;
	    text-align: center;
	    display: block;
	}	
}
@media(max-width: 1400px) {
	body.desktop .brandWrapper {
	    -ms-flex-preferred-size: 50%;
	    flex-basis: 50%;
	}
	body.desktop nav.navbar-wrapper {
	    -ms-flex-preferred-size: 50%;
	    flex-basis: 50%;
	}	
	body.desktop .navbar .nav>li>a {
	    padding: 10px 10px 10px;
	    font-size: 13px;
	}
	body.desktop ul.nav-child li {
		font-size: 13px;
	}
}
@media(max-height: 700px) {
	body.desktop.itemid-112 .bottom-wrap {
	    margin-top: 120px;
	}
	body.desktop #layoutStart {
	    margin-bottom: 30px;
	}
}
@media(max-height: 850px) {
	body#body.desktop.itemid-112 .bottom-wrap {
	    margin-top: 120px;
	}
}
@media(min-width: 1920px) {
	body.site a.brand {
	    font-size: 26px;
	}
}
@media(max-width: 600px) {
	/*critical*/
	body.desktop #resizeAlarm {
		display: block;
	}	
}
@media(min-width: 601px) {
		/*critical*/
	body.desktop #resizeAlarm {
		display: none !important;
	}	
}

